[data-bs-theme='light'] {
	--bs-btn-color: var(--bs-white);
	--bs-btn-bg: var(--bs-gray-900);
	--bs-btn-border-color: var(--bs-gray-400);
	--bs-btn-hover-color: var(--bs-gray-900);
	--bs-btn-hover-bg: var(--bs-white);
	--bs-btn-hover-border-color: var(--bs-gray-700);
	--bs-btn-focus-shadow-rgb: var(--bs-gray-400);
	--bs-btn-active-bg: var(--bs-btn-hover-bg);
	--bs-btn-active-border-color: var(--bs-btn-hover-border-color);

	.nav-logo.logo-light {
		display: block;
	}

	.nav-logo.logo-dark {
		display: none;
	}
}

/* Color mode adjustments  */
[data-bs-theme='dark'] {
	--bs-btn-color: var(--bs-gray-900);
	--bs-btn-bg: var(--bs-white);
	--bs-btn-border-color: var(--bs-gray-200);
	--bs-btn-hover-color: var(--bs-gray-900);
	--bs-btn-hover-bg: var(--bs-white);
	--bs-btn-hover-border-color: var(--bs-gray-600);
	--bs-btn-focus-shadow-rgb: var(--bs-gray-400);
	--bs-btn-active-color: var(--bs-btn-hover-color);
	--bs-btn-active-bg: var(--bs-btn-hover-bg);
	--bs-btn-active-border-color: var(--bs-btn-hover-border-color);

	.nav-logo.logo-light {
		display: none;
	}

	.nav-logo.logo-dark {
		display: block;
	}
}

.skip-link-container {
	position: absolute;
	display: inline-block;
	inline-size: 100%;
	block-size: 0;
}

.skip-link {
	background: var(--primary-color);
	color: #fff;
	font-weight: 700;
	margin: auto;
	padding: 4px;
	position: absolute;
	transform: translateX(-200%);
	z-index: var(--z-max);

	&:focus {
		transform: translateX(0%);
		box-shadow: 2px 2px 26px var(--primary-color);
		border: 2px solid var(--primary-color);
	}
}
